.direction {
  height: calc(50vh - 7.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  font-size: 2rem;
  cursor: pointer;
}

.firstDirection {
  background-color: var(--primary-red);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #e54050d4;
  }
}
.secondDirection {
  background-color: var(--primary-blue);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #6e6ee1d4;
  }
}
