.direction {
  height: calc(50vh - 7.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  font-size: 2rem;
}

.firstDirection {
  background-color: var(--primary-red);
}
.secondDirection {
  background-color: var(--primary-blue);
}
