.stopsContainer {
  @media screen and (min-width: 1025px) {
    width: 47rem;
    margin: 0 auto 2rem auto;
  }

  .stop {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:first-child {
      margin-top: 2rem;
    }

    @media screen and (min-width: 1025px) {
      justify-content: space-between;
      border-radius: 5rem;
      text-align: right;

      &:hover {
        color: white;
        background: linear-gradient(
          90deg,
          #4772ff,
          #4f71fb,
          #5671f6,
          #5c70f2,
          #626fee,
          #666fe9,
          #6a6ee5,
          #6e6ee1
        );

        & svg {
          color: white;
        }
      }
    }

    .pin {
      min-width: 5rem;
      min-height: 5rem;
      color: var(--primary-blue);
      margin: 1rem;
    }

    .text {
      margin: 0 2rem;
    }
  }
}
